flake8==7.3.0
pylint==4.0.4
pytest-homeassistant-custom-component==0.13.305
pytest-cov==7.0.0
pytest-unordered==0.7.0
mypy[reports]==1.19.1
pyg90alarm==2.4.0
# These are pinned by `pytest-homeassistant-custom-component` package
pytest
coverage
