flake8==7.3.0
pylint==4.0.6
pytest-homeassistant-custom-component==0.13.340
pytest-unordered==0.7.0
mypy[reports]==2.1.0
pyg90alarm==2.13.2
# These are pinned by `pytest-homeassistant-custom-component` package
pytest
pytest-cov
coverage
pylint-per-file-ignores
