flake8==7.3.0
pylint==4.0.6
pytest-homeassistant-custom-component==0.13.346
mypy[reports]==2.3.0
pyg90alarm==2.13.2
# These are pinned by `pytest-homeassistant-custom-component` package
pytest
pytest-cov
coverage
pylint-per-file-ignores
pytest-unordered
